p {
color: rgb(161, 169, 196);
font-size: 18px;
}

body {
    background-color: rgb(19, 19, 27);
    font-family:'Arial rounded MT Bold';
}

h1 {
    color: rgb(187, 194, 226);
    font-size: 56px;
    font-family: 'Arial rounded MT Bold';
}

h2 {
    color: rgb(187, 194, 226);
    font-size: 30px;
    font-family: 'Arial rounded MT Bold';
}

h3 {
    color: rgb(187, 194, 226);
    font-size: 24px;
    font-family: 'Arial rounded MT Bold';
}

img {
display: block;
    margin-left: 2;
    margin-right: auto;
    width: 150px;
    height: 150px; /* Le das una altura fija */
    object-fit: contain; /* Esto asegura que la imagen no se deforme */
}

section {
    margin: 10px;
    padding: 20px;
    background-color: rgb(39, 40, 56);
    border-radius: 10px;
    display: flex;
        align-items: center; /* Alinea verticalmente */
        gap: 20px; /* Espacio entre imagen y texto */
        margin: 20px;
        padding: 35px;
        background-color: rgb(39, 40, 56);
        border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5); 
}

section p {
    flex: 1; /* Esto le dice al párrafo que ocupe solo el espacio restante disponible */
    margin: 0; /* Esto elimina márgenes extra que a veces crean espacios innecesarios */
}

nav a {
        text-decoration: none; /* Quita el subrayado */
        color: rgb(187, 194, 226);
        padding: 15px; 
}

nav a:hover {
        color: white; /* Cambia a blanco cuando pasas el mouse */
        text-decoration: underline;
}

section h2:hover {
    color: white; /* Cambia a blanco cuando pasas el mouse */
    text-decoration: underline;
}

a {
    color: rgb(167, 184, 255);
    text-decoration: none;
}

section.COMIDA-INICIO, section.MATERIALES-BASICOS-INICIO, section.MATERIALES-OBLIGATORIOS-INICIO {
display: flex;
    justify-content: space-between; /* El título a la izquierda, las imágenes a la derecha */
    align-items: center;
}

.contenedor-imagenes {
    display: flex;
    gap: 40px; /* Aquí controlas el espacio entre las imágenes exclusivamente */
}

input[type="search"] {
    width: 98%;
    padding: 20px;
    margin: 20px 20px;
    display: flex; 
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(11, 11, 15);
    border: 4px solid rgb(61, 61, 75);
    font-size: 30px;
    font-family: 'Alan Sans';
    border-radius: 10px;
}